
<body>
  <h1><b>Teams</b></h1>

<div class="container">
  <div class="card-group mt-3">
      <div class="card btn mr-lg-5">
      <img class="card-img-top custom-image" src="assets/vocales pocoyo.PNG" >
      <div class="card-body">
      <h2 class="card-title">Vowels</h2>
  </div>
  </div>
  
      <div class="card btn mr-lg-5">
      <img class="card-img-top custom-image" src="assets/frutaspocoyo.jpg">
      <div class="card-body">
      <h2 class="card-title">Fruits</h2>
  </div>
  </div>
  
  <div class="container">
    <div class="card-group mt-3">
        <div class="card btn mr-lg-5">
        <img class="card-img-top custom-image" src="assets/colores.png" >
        <div class="card-body">
        <h2 class="card-title">Colors</h2>
    </div>
    </div>
    
        <div class="card btn mr-lg-5">
        <img class="card-img-top custom-image" src="assets/animalespocoyo.jpg">
        <div class="card-body">
        <h2 class="card-title">Fruits</h2>
    </div>
    </div>
    
