<!-- <h1>Holaaa</h1>
<button (click)="navegar">Navegar a</button>  -->
<body>
<div class="container">
    <div class="row ">
      <div class="col-md-7 mt-9 mb-9" >
        <img src="../assets/gif de colores.gif" class="img-fluid float-end" alt="Mi Imagen">
      </div>
    </div>
  </div> 
  
  
  
  
    <div class="container">
      <div class="row">
        <div class="col-md-7 mt-9 mb-9">
          <img src="../assets/gifvocales.gif" >
        </div>
      </div>
  </div>
  
  <div class="container d-flex justify-content-center align-items-center vh-70">
    <button class="btn btn-success">
      <a routerLink='/temas/' routerLinkActive="active-link">
        <h2 class="card-title">Start</h2> </a>

    </button>
  </div>
  
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-1  mg-3px">
        <img src="../assets/animalesgif.gif" >
      </div>
    </div>
  </div>
  

 </body>