<body>
<div class="container float-right mt-20">
        <div class="card-group mt-3">
            <div class="card mx-2 mr-lg-5 mb-20">
            <video controls>
            <source src="" type="video/mp4" >
            </video>
            <div class="card-body">
            <h2 class="card-title text-center ">A</h2>
            <textarea [(ngModel)]="Fruta1" (keyup)="Fruta1Verdadera()"></textarea>


            <div *ngIf="Fruta1valida">
              correct: {{Fruta1}}
            </div>
            <div *ngIf="!Fruta1valida">
              incorrect!!!!!: {{Fruta1}}
            </div>



        
        </div> 
      </div>
        
      <div class="card mx-2 mr-lg-5 mb-20">
        <video controls>
        <source src="../assets/letra E.mp4" type="video/mp4" >
        </video>
        <div class="card-body">
        <h2 class="card-title text-center ">E</h2>
        <!-- <textarea [(ngModel)]="letra"></textarea> -->
        <!-- {{letra}} -->
    </div> 
  </div>
  <div class="card mx-2 mr-lg-5 mb-20">
    <video controls>
    <source src="../assets/letra I.mp4" type="video/mp4" >
    </video>
    <div class="card-body">
    <h2 class="card-title text-center ">I</h2>
    <!-- <textarea [(ngModel)]="letra"></textarea> -->
    <!-- {{letra}} -->
    </div> 
    </div>
    <div class="card mx-2 mr-lg-5 mb-20">
        <video controls>
        <source src="../assets/letra O.mp4" type="video/mp4" >
        </video>
        <div class="card-body">
        <h2 class="card-title text-center ">O</h2>
        <!-- <textarea [(ngModel)]="letra"></textarea> -->
        <!-- {{letra}} -->
    </div> 
    </div>

    <div class="card mx-2 mr-lg-5 mb-20">
        <video controls>
        <source src="../assets/letra U.mp4" type="video/mp4" >
        </video>
        <div class="card-body">
        <h2 class="card-title text-center ">U</h2>
        <!-- <textarea [(ngModel)]="letra"></textarea> -->
        <!-- {{letra}} -->
    </div> 
  </div>

      </div>

